* {
    color: #2B69D1;
}

p {
    font-family: 'Golos';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding: 0 20px;
}

/* overview */
.overview {
    display: flex;
    margin-bottom: 160px;
}

.overview>.left-column {
    padding-top: 48px;
}

.overview>.right-column {
    padding-top: 30px;
}

/* columns */
.column {
    display: inline-flex;
    flex-direction: column;
}

.left-column {
    width: calc((100% - 40px) / 4);
}

.left-column>p {
    margin-bottom: 28px;
}

.right-column {
    width: calc((100% - 40px) / 4 * 3);
}

.right-column>p {
    margin-bottom: 20px;
}

/* text */
.title {
    font-family: 'Prosto';
    font-weight: 100;
    font-size: 67.8263px;
    line-height: 76px;
}

.step-image:first-of-type {
    margin-bottom: 5px;
}

.step {
    margin-bottom: 80px;
}

.desktop-br {
    display: block;
}

.mobile-br {
    display: none;
}

.image-desktop {
    display: block;
}

.image-mobile {
    display: none;
}

.step-link {
    text-decoration: underline;
    color: #D2CFE1;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 16px 48px;
    }

    .overview {
        flex-direction: column-reverse;
    }

    p {
        font-size: 15px;
        line-height: 20px;
    }

    .right-column {
        padding-top: 20px;
    }

    .overview >  .right-column {
        padding-top: 48px;
    }

    .overview >  .left-column {
        padding-left: 43px;
    }

    .step-text {
        padding-left: 43px;
    }

    .step-image:first-of-type {
        margin-bottom: 1px;
    }

    .step {
        margin-bottom: 48px;
    }

    .left-column {
        padding-top: 20px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column>p:not(:last-child) {
        margin-bottom: 16px;
    }

    .left-column>p:last-child {
        margin-bottom: 0;
    }

    .overview {
        margin-bottom: 96px;
    }

    .title {
        font-size: 39px;
        line-height: 48px;
    }

    .desktop-br {
        display: none;
    }

    .mobile-br {
        display: block;
    }

    .image-desktop {
        display: none;
    }
    
    .image-mobile {
        display: block;
        margin-bottom: 1px;
    }
}
